<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Moxly app</title>
        <meta name="description" content="Moxly wewnętrzna aplikacja zarządcza" />

        <link
            type="text/css"
            rel="stylesheet"
            href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css"
        />
        <style>
            .firebaseui-idp-button {
                max-width: 270px;
            }
            .MuiDataGrid-cellContent[title="zaakceptowane"] {
                color: #2e7d32;
            }
            .MuiDataGrid-cellContent[title="odrzucone"] {
                color: #d32f2f;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
        />
    </head>
    <body>
        <div id="react-app"></div>
        <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth__pl.js"></script>
        <script type="module" src="index.tsx"></script>
    </body>
</html>
